@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}



/*header start*/

.hedaer {
    position: relative;
}

.nav-top-wrap {
    background: #E8001E;
}

.nav-top,
.nav-bottom {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 40px;
    font-size: 0.8em;
}

.nav-top {
    color: #fff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nav-top__ul a {
    color: #fff;
}

.nav-top li,
.nav-bottom li {
    display: inline-block;
}


.nav-bottom-wrap {
    border-bottom: 2px solid #000;
}

.nav-bottom {
    font-weight: bold;
}

.nav-bottom .left li:last-child:before {
    position: absolute;
    top: 30px;
    line-height: 15px;
    font-size: 0.8em;
    content: '프리미엄 맴버십';
    background: #BC9A6E;
    border-radius: 3px;
    padding: 2px;
    font-weight: normal;
    color: #fff;
}

.nav-bottom .left li:last-child:after {
    position: absolute;
    transform: translate(-300%, 0%);
    content: '';
    border-top: 10px solid #BC9A6E;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/*header end*/

/*main start*/

.section-wrap {
    width: 980px;
    margin: 0 auto;
}

.main-visual {
    overflow: hidden;
}

.topbox {
    overflow: hidden;
}

.input-box {
    line-height: 50px;
}

.input-box button {
    padding: 4px;
    font-size: 0.7em;
    background-image: linear-gradient(to bottom right, #808080, #0d0d0d);
    color: #fff;
    border: 1px solid;
    border-radius: 3px;
}

.bottombox {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 540px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(http://image.auction.co.kr/SpecialShop/201708/sshop_24110656314.jpg);
    margin-bottom: 30px;
}


.mdpick {
    margin-bottom: 30px;
}


.mdpick__title-box {
    width: 100%;
    height: 30px;
    background-image: url(http://image.auction.co.kr/SpecialShop/201309/sshop_06183258514.jpg);
    margin-bottom: 15px;
}

.mdpick__index {
    font-size: 0;

}

.mdpick__index li {
    display: inline-block;
    width: 16%;
    text-align: center;
    line-height: 30px;
    margin-right: 0.801%;
}

.mdpick__index li:last-child {
    margin-right: 0;
}

.mdpick__index li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #000;
    border: 1px solid #000;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mdpick__index li a:hover:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #fff;
}

.mdpick__page-wrap {
    font-size: 0;
    border-top: 1px solid;
}

.mdpick__page li {
    width: 16%;
    display: inline-block;
    text-align: center;
    margin-right: 0.801%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.8em;
}

.mdpick__page li:last-child {
    margin-right: 0;
}
.mdpick__page li a {
    font-size: 12px;
}

.mdpick__page span {
    font-weight: bold;
}


.bestitem {
    font-size: 0.8em;
    text-align:center;
}


.bestitem__title-box {
    width: 100%;
    height: 30px;
    background-image: url(http://image.auction.co.kr/SpecialShop/201309/sshop_13181313714.jpg);
}

.bestitem__box:first-child {
    width: 30%;
}
.bestitem__box:last-child {
    width: 70%;
}
.bestitem__page {
    float: left;
    width: 25%;
}

.bestitem__page span {
    font-weight: bold;
}
.first {
    width: 100%;
}
