@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: #f0f0f0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}


/* header start*/

.header {
    background: #4b5cb5;
    color: #fff;
}

.logo {
    display: inline-block;
}

.logo img {
    vertical-align: middle;
}

.title {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.nav {
    max-width: 1280px;
    height: 80px;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 0;
    transition: all 0.5s;
}

.nav__list {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-transform: uppercase;
}

.nav__list li {
    display: inline-block;
    cursor: pointer;
}

.nav__list li:after {
    content: " | ";
    letter-spacing: 0.5em;
}

.nav__list li:last-child:after {
    content: "";
}


/*header end*/

/*content start*/

.content {}

.lists {
    color: #3c3c3c;
    font-family: 'Raleway', sans-serif;
}

.more {
    line-height: 40px;
    background: #b4c0ff;
    text-align: center;
}

.more span {
    margin: 20px;
    font-size: 1.3em;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.list {
    position: relative;
    max-width: 1280px;
    line-height: 25px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px auto;
    padding: 20px 0 20px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 1px #a7a7a7;
    transition: all 0.5s;
}

.list__number {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 50%;
    width: 40px;
    line-height: 50px;
    transform: translate(30%, -50%);
    font-size: 1.3em;
}

.list__title a {
    font-size: 1.1em;
    color: #000;
}

.list__source a {
    font-size: 1em;
    color: #031da7;
}

.list__points {
    color: #ff3f66;
    font-weight: bold;
}

.list__comments a {
    color: #1403e5;
    font-weight: bold;
}

.more {
    padding-left: 3em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.71);
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    padding: 16px;
    border: 16px solid #3cb4e0;
    background-color: #fff;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.close-box {
    position: absolute;
    top: -10px;
    right: 0;
}
.close-box a {
    font-weight: bold;
    font-size: 2em;
    color: #ed2424;
}


/*content end*/

/*footer start*/

.footer {
    width: 100%;
}

.footer__title {
    width: 100%;
    line-height: 100px;
    text-align: center;
}


/*footer end*/

/*media start*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .nav {
        max-width: 1000px;
    }
    .list {
        max-width: 1000px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .title {
        font-size: 1.5em;
    }
    .nav {
        max-width: 800px;
    }
    .nav__list {
        font-size: 1.3em;
    }
    .more span {
        font-size: 1.1em;
    }
    .list {
        max-width: 100%;
        line-height: 40px;
        margin: 0;
        padding: 10px 0 10px 50px;
    }
    .list__number {
        width: 30px;
        line-height: 50px;
        transform: translate(40%, -50%);
        font-size: 1.1em;
    }
}

@media screen and (max-width: 767px) {
    .haerder {
        padding-left: 10px;
    }
    .title {
        font-size: 0.8em;
    }
    .nav {
        max-width: 100%;
        min-width: 360px;
    }
    .nav__list {
        font-size: 0.8em;
        letter-spacing: 1px;
        word-spacing: 5px;
    }
    .nav__list li:after {
        content: "";
    }
    .more span {
        font-size: 1.1em;
    }
    .list {
        max-width: 100%;
        min-width: 360px;
        line-height: 25px;
        margin: 0;
        padding: 20px 0 20px 50px;
        font-size: 0.8em;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid #cecece;
    }
    .list__number {
        width: 30px;
        line-height: 50px;
        transform: translate(40%, -50%);
    }
    .list__comments a {
        color: #1403e5;
        font-weight: bold;
    }
}


/*media end*/
